h1{
    display: block;
    margin: 40 auto;
    text-align: center;
}

.semaforo{
    width: 100px;
    height: 280px;
    background-color: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.red-light{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
}
.yellow-light{
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
}
.green-light{
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
}

.rActive{
    box-shadow: 0 0 10px 10px rgb(172, 23, 23);
}
.yActive{
    box-shadow: 0 0 10px 10px rgb(226, 230, 12);
}
.gActive{
    box-shadow: 0 0 10px 10px #4f9;
}